/* main content top */
.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.sidebar-toggler {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.sidebar-toggler img {
  width: 20px;
}
.content-top-title {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
}
.content-top-btn {
  margin-left: 18px;
}
.content-top-btn img {
  width: 24px;
}
.content-top-btn img:hover {
  filter: brightness(0) invert(1);
}
.content-top-left {
  display: flex;
  align-items: center;
}
.notification-btn{
  /* filter: brightness(20); */
  color: grey;
  font-size: 1.5rem;
}
.notification-btn:hover{
  color: aliceblue;
}
.SearchBar{
  size: 6rem;
  height:2rem;
  width: 15rem;
}